div.attendance {
    position: relative;
    display:inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
  }
div.taskcomplete {
    position: relative;
    display:inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.3s;
  }
  span.a{
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:100px; height:100px;
    border-radius: 50%;
    text-align:center; 
    line-height: 100px;
    font-size:30px;
     transform: translate(-50%, -50%);
  }

  span.t{
    background: #fff;
    display : block;
    position: absolute;
    top:50%; left:50%;
    width:100px; height:100px;
    border-radius: 50%;
    text-align:center; 
    line-height: 100px;
    font-size:30px;
     transform: translate(-50%, -50%);
  }
