.commentlist {
    background-color: antiquewhite;
}

/* 게시글 상세 */
.boarddetail {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

/* 댓글 */
/* 코멘트 스타일 */
.comment-row {
    display: flex;
    align-items: center;
    width: 1000px;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-info {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
}

.comment-content {
    flex: 4;
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

.comment-date {
    flex: 1;
    color: #777;
    text-align: left;
    border-left: 1px solid #ddd;
    padding-left: 10px;
}

.comment-select-button {
    flex: 1;
    text-align: center;
}

.comment-select-button button {
    padding: 5px 10px;
    border-radius: 5%;
    background-color: #3498db;
    color: #fff;
    border: none;
    /* cursor: pointer; */
}

/* 대댓글 */
.comment-reply-row {
    display: flex;
    align-items: center;
    width: 1000px;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

/* 답글버튼 */
.comment-select-replyButton {
    /* flex: 1; */
    text-align: center;
}

.comment-select-replyButton button {
    padding: 5px 10px;
    border-radius: 5%;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* 수정버튼 */
.comment-select-modifyButton {
    /* flex: 1; */
    text-align: center;
}

.comment-select-modifyButton button {
    padding: 5px 10px;
    border-radius: 5%;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* 삭제버튼 */
.comment-select-deleteButton {
    /* flex: 1; */
    text-align: center;
}

.comment-select-deleteButton button {
    padding: 5px 10px;
    border-radius: 5%;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
/*댓글 삭제시 배경색 변경*/
.grey-background {
    background-color: gainsboro;
}