div.allboard>h2{
    margin-top:0px;
}

div.allcontent>table{
    width:100%;    
    border-collapse: collapse;
}
div.allcontent>table, div.allcontent>table th{
    /* border: 1px solid; */
    background-color: rgb(231, 231, 231);
    height: 50px;
}
/*
div.maincontent>table td{
    border-left: 1px dotted;
    border-bottom: 1px dotted
} */
div.allcontent>table td.title{
    width: 20%;
}
div.allcontent>table td.id{
    width:20%;
    text-align: right;
}
div.allcontent>table td.regdate{
    width:20%;
    text-align: right;
}
div.allcontent>table td.enddate{
    width:20%;
    text-align: right;
}