div.mainboard>h2{
    margin-top:0px;
}

div.maincontent>table{
    width:100%;    
    border-collapse: collapse;
}
div.maincontent>table, div.maincontent>table th{
    /* border: 1px solid; */
    background-color: rgb(231, 231, 231);
    height: 50px;
}

div.maincontent>table>tbody{
    background-color: white;
}
div.maincontent>table td.title{
    width: 20%;
    text-align: center;
}
div.maincontent>table td.id{
    width:20%;
    text-align: center;
}
div.maincontent>table td.regdate{
    width:20%;
    text-align: center;
}
div.maincontent>table td.enddate{
    width:20%;
    text-align: center;
}