div.taskboardmenu {
    display: inline-block;
    /* width: 80%; */
    /* height: 85px; */
    /* height: 90px; */
    
    /* margin-left: 100px; */

    /* float: left;  */
    overflow: auto;
    /* background-color: rgb(219, 255, 234); */
    text-align: center;
    /* vertical-align: middle; */
}

div.taskboardmenu>ul {
    width:100%;
    height:100%;
    list-style-type: none;
    padding-left: 0px;
    margin:0px;
}

div.taskboardmenu>ul>li {
    display: inline-block;
    /* width:10%; */
    /* height:100%; */
    height: 75px;
    line-height: 75px;
    /* border:1px solid; */
    margin: 0 10px 0 10px;
    /* vertical-align: middle; */
}

div.taskboardmenu>ul>li>a {
    /* vertical-align: baseline; */
    text-decoration: none;
    color: black;
}

div.taskboardmenu>ul>li>a:hover {
    background-color: #000000;
    color: #fff;
    text-decoration: underline;
}

section {
    width: 100%;
    height: 620px;
    clear: both;
}