html, body {
    font-family: 'Noto Sans KR', sans-serif;

    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ---------------------------------- */

/* section nav바 너비만큼 이동 */
section {
    margin-left: 270px;
}

/* 구분선 */
.line {
    width: 98%; 
    border-top: 1px solid black;
}

/* section 컨텐츠 내용 */
.content {
    padding: 30px;
    flex: 1;
}