html, body {
    font-family: 'Noto Sans KR', sans-serif;

    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ---------------------------------- */

/* 사이드 메뉴바 */
nav {
    width: 200px;
    height: 100vh;
    background-color: #011837;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white;
    z-index: 2; /* footer 위에 놓기 */
}

/* 사이트 로고 */
nav>img.logo {
    cursor: pointer;

    width: 200px;
    height: 40px;
    
    margin-bottom: 30px;
}

/* 팀 이름 */
.teamName {
    text-align: left;
    font-weight: bold;

    font-size: 20px;
    
    margin-left: 20px;
    margin-bottom: 30px;
}

/* 프로필 전체 영역 */
.teamProfile {
    width: 200px;
    height: 200px;

    border: 2px solid white; /* 영역 표시 */
    border-radius: 50%;
    
    overflow: hidden;   /* 이미지가 영역을 벗어나는 부분을 숨기기 위한 스타일 */
    
    margin: auto;  /* 중앙 정렬 */
    margin-bottom: 30px;
}

/* 프로필 편집 버튼 */
.teamProfileEdit{
    text-align: center;
    cursor: pointer;

    width: 100%;
    height: 50px;

    margin-top: 70%;
    padding: 5px 0px 0px 0px;

    background-color: rgb(131, 131, 131);
}

/* 프로필 사이즈 조절 */
.teamProfileImg {
    object-fit: cover;  /* 이미지를 영역 내에 꽉 채워 표시하기 위한 스타일 */
    
    width: 100%;
    height: 100%;
}

/* 메뉴 탭 영역 */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* 메뉴 탭들 */
nav ul li {
    cursor: pointer;
    text-align: left;

    font-size: 18px;

    margin: 10px 0px 10px 0px;
    padding: 10px;
}

nav ul li:hover {
    background-color: #022d65;
}

/* 메뉴 탭 글씨색 */
nav ul li a {
    color: white;
    text-decoration: none;
}
