footer {
    width: 100%;
    height: 150px;
    background-color: #4a4a4a; 
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    z-index: 1; /* nav보다 아래에 놓기 */
}

/* footer 내용 */
footer p {
    margin: 0;
    padding: 0;
}