/* section nav바 너비만큼 이동 */
section {
    margin-left: 270px;
    margin-bottom: 50px;

    padding: 30px;

    width: 80%;
}

/* 팀 조회수 영역 */
.teamViewCnt {
    border: 1px solid black;
    display: inline-block; 

    width: 90%;
    height: 30px;

    margin-left: 30px;
    margin-bottom: 30px;
}

/* 팀 조회수 */
.teamCntViewSpan1, .teamCntViewSpan2 {
    font-weight: bold;
    display: inline-block;

    font-size: 17px;
}

/* 팀원 영역 */
.teamMemberList {
    border: 1px solid black;

    width: 90%;
    height: 400px;

    margin-left: 30px;
    margin-bottom: 30px;
}

/* 닉네임 border */
.teamMemberBorder {
    border-radius: 50px;
    border: 1px solid #011837;

    background-color: #011837;
    color: white;
}

/* 팀원 목록 */
.teamMemberListSpan1 {
    padding: 10px;
    
    font-weight: bold;

    font-size: 17px;
}

/* 영역 소개글 */
p.intro1, p.intro2 {
    font-weight: bold;
    font-size: 18px;
}

/* 팀 소개글 영역 */
.teamMainIntroduction {
    border: 1px solid black;

    width: 90%;
    height: 400px;

    margin-left: 30px;
    margin-bottom: 50px;
}

/* 팀 소개글 */
.teamMainIntroductionP {
    font-weight: bold;

    font-size: 17px;
}

/* 공지사항 영역 */
.teamMainNotice {
    border: 1px solid black;

    width: 90%;
    height: 400px;

    margin-left: 30px;
}

/* 공지사항 */
.teamMainNoticeDiv {
    border: 1px solid black;
}