*{
  font-family: 'Noto Sans KR', sans-serif;
}

section {
  margin-left: 240px;
  margin-bottom: 50px;
  padding: 30px;
  font-family: 'Noto Sans KR', sans-serif;
  height: 1700px;
}


ul{
  text-align: center;
  float: left;
  padding: 0;
  margin: 30px 17px;
}

li{
  
  display: inline-block;
}


.team{
  width: 350px;
  height: 450px;
      border: 5pt groove #c0c0c066;
      border-radius: 20px;
}

.teamName{
  font-size: x-large;
  font-weight: bold;

}

.teamName:hover{
  text-decoration: underline;

}

.createDate{
  color: #9e9e9e;
}
.profilebox{

    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    margin: 10px auto;
}


.teamlist:hover{
  transform: scale(1.01);
}
.teamProfileImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
}

.hashtag1:hover,.hashtag2:hover,.hashtag3:hover,.hashtag4:hover,.hashtag5:hover{
  text-decoration: underline;
}

/*페이징*/
.pagegroup{
  position: absolute;
  top: 1400px;
  left: 55%;
  transform: translate(-50%, -50%);
  width:300px; 
  text-align: center;
  margin-top: 500px;
  margin-bottom: 50px;
} 

.pagegroup>span{
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border-radius: 70px;
}

.pagegroup>span:disabled {
  pointer-events: none;
}

.pagegroup>span:hover {
  background-color: #000000;
  color : white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.pagegroup>span:active {
  box-shadow: none;
  transform: translateY(0);
}


.toplogo{
  text-align: center;
}

.topnine{
  font-size: 60px;
  margin: 0 auto
}

.crownimg{
  width: 100px;
  margin: 0;
}

.more{
  height: 30px;
  margin: 10px auto
}